{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
  Add products to recipe;
{% endblock header %}

{% block content %}
  <form id="form-container" method="POST">
    {% csrf_token %}
    {{ product_formset.managment_form }}
    {% for form in product_formset %}
      <div class="product-form">
        {{ form|crispy }}
      </div>
    {% endfor %}

    <button class="btn" id="add-form" type="button">Add another form</button>
    <button class="btn btn-primary" type="submit">Add products</button>
  </form>

  <script>
    let productForms = document.querySelectorAll(".product-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let maxForms = document.querySelector("#id_form-MAX_NUM_FORMS")

    let formNum = productForms.length - 1

    function addForm(e) {
      e.preventDefault()

      // Clone first form
      let newForm = productForms[0].cloneNode(true)
      formNum++
      // Replace with new form index number
      newForm.innerHTML = newForm.innerHTML.replace(RegExp(`form-(\\d){1}-`, 'g'), `form-${formNum}`)

      container.insertBefore(newForm, addButton)
      totalForms.setAttribute('value', `${formNum+1}`)
    }

    // Listen to add form button click
    addButton.addEventListener('click', addForm)
  </script>

{% endblock content %}
