{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
  Create recipe
{% endblock %}

{% block content %}

  <form id="form-container" method="POST">
    {% csrf_token %}

    {# Recipe name/desc #}
    {{ recipe_form|crispy }}

    {# Managment form, provides hidden info fields (total, max, min, ...) #}
    {{ product_formset.management_form }}

    {# Recipe added products #}
    {% for product_form in product_formset %}
      <div class="product-form">
        {{ product_form|crispy }}
      </div>
    {% endfor %}

    <button id="add-form" type="button">Add another form</button>
    <button class="btn btn-primary" type="submit">Add products</button>
  </form>
  
  <script>
    // Dynamic form adding
    let productForms = document.querySelectorAll(".product-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
    let formNum = productForms.length - 1

    addButton.addEventListener('click', addForm)
    function addForm(e) {
      e.preventDefault()

      formNum++
      let newForm = productForms[0].cloneNode(true)
      newForm.innerHTML = newForm.innerHTML.replace(RegExp(`form-(\\d){1}-`, 'g'), `form-${formNum}-`)

      container.insertBefore(newForm, addButton)
      totalForms.setAttribute('value', `${formNum+1}`)
    }
  </script>

{% endblock %}
