{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}

{% block header %}
Edit recipe
{% endblock %}

{% block content %}


<form action="{% url 'tracker:edit_recipe' food_id %}" method="POST">
  {% csrf_token %}

  {{ recipe_form|crispy }}

  <h3>Food containing in recipe:</h3>

  {{ product_formset.management_form }}
  {% for product_form in product_formset %}
    <div class="mb-4">
      {{ product_form|crispy }}
    </div>
  {% empty %}
    No products in the recipe.
  {% endfor %}

  <input class="btn btn-primary" type="submit" value="Save changes"> <br>
</form>

{% comment %} <p><a href="{% url 'tracker:add_recipe_food' recipe_id %}">Add food</a> to the recipe.</p> {% endcomment %}

{% endblock %}
