{% extends "tracker/base.html" %}

{% block header %} Track your diet on {{ track_date|date:"j F Y" }} {% endblock %}

{% block content %}
Yesterday - Tommorow
  {% for name, total, records, n in sections %}
    <h2>{{ name|capfirst }}</h2>
    <ul>
      {% for record in records %}
        <li>
          <b>{{ record|capfirst }}</b>, {{ record.weight|floatformat }} gram<br>
          = {{ record.total|floatformat }} calories
        </li>
      {% empty %}
        You have no record.
      {% endfor %}
      <p><a href="{% url 'tracker:add_record' n %}">Add record &raquo;</a></p>
    </ul>
    {% if total > 1 %}
      <p><b>Section total</b>: {{ total|floatformat }} calories</p>
    {% endif %}

  {% endfor%}

  <hr>
  <h3>Day total: {{ total|floatformat:0 }} calories</h3>

{% endblock content %}
